<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.iteso.focusfocus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityButton" />
        <activity
            android:name=".ActivityAddTask"
            android:label="@string/title_activity_add_task" />

        <receiver
            android:name=".TimerExpiredReciever"
            android:enabled="false"
            android:exported="false" />
        <receiver
            android:name=".TimerNotificationActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="stop"/>
                <action android:name="pause"/>
                <action android:name="resume"/>
                <action android:name="start"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>